img
{
    height: 100%;
    width: 100%;
}
.color-box
{
    height: 40px; 
    width: 40px; 
    margin: 5px; 
}
.outOfStock
{
    text-decoration: line-through;
}
.cart
{
    padding: 10px;
    margin: 10px;
}
.review
{
    height: 100%;
    width: 100%;
    margin: 10px;
}