<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
     </nav>
    
     <div id="app" class="container">
      <div class="cart border float-right">Cart({{ cart.length }})</div>
      <product :premium="premium" @add-to-cart="addCart" @remove-from-cart="removeCart"></product>
    </div>


    <script>

        Vue.component('product', {
          props: {
            premium:{
              type: Boolean,
              required: true
            }
          },
          template:`
              <div class="row">
                <div class="col-md-6">
                    <img v-bind:src="image" v-bind:alt="imgalt">
                </div>
                <div class="col-6">
                    <h1> {{ productTitle }} </h1>
                    <h3 v-if="inStock"> In Stock </h3> 
                    <h3 v-if="onSale && inStock"> {{ productTitle }} is on Sale </h3> 
                    <p> Shipping: {{ shipping }} </p>
                    <!-- <h3 v-else="stock <= 10 && stock > 0"> Almost Sold </h3> -->
                    <h3 v-if="!inStock"
                        :class="{outOfStock: !inStock}"> Out of Stock </h3>
                    <!-- <span v-show="inStock"> Hurry Up</span>  -->

                    <ul>
                      <li v-for="detail in details"> {{ detail }} </li>
                    </ul>
                    <div  v-for="(variant, index) in variants" 
                          :key="variant.variantId"
                          class="color-box"
                          :style="{ backgroundColor: variant.variantColor}"
                          @mouseover="updateProduct(index)">
                    </div>
                    <div>
                    <button class="btn btn-md btn-info" @click="addToCart" :disabled="!inStock">Add to Cart</button>
                    <button class="btn btn-md btn-danger" @click="removeFromCart"> Remove from cart</button>
                    </div>

                </div>
                <div class="review">
                  <h2>Reviews</h2>
                  <p v-if="!reviews.length"> There are no reviews yet. </p>
                  <ul>
                    <li v-for="review in reviews">
                      <p> {{ review.name }}</p>
                      <p>Rating: {{ review.rating }}</p>
                      <p> {{ review.review }}</p>
                      <p> {{ review.recommend }}</p>
                    </li>
                  </ul>
                </div>
                <product-review @review-submitted="addReview"> </product-review>
              </div>
          `,
          data (){
            return {
                  product: 'Socks',
                  brand: 'Adidas',
                  selectedVariant: 0,
                  imgalt: 'Product-Image',
                  stock: 100,
                  details: ["80%:cotton", "20%:polyster", "Gender-Neutral",],
                  reviews: [],
                  variants: [
                  {
                      variantId: 1,
                      variantColor: "green",
                      variantImage: 'images/green.png',
                      variantQuantity: 10,
                      sale:true
                  },
                  {
                    variantId: 2,
                    variantColor: "blue",
                    variantImage: 'images/blue.png',
                    variantQuantity: 0,
                    sale:false
                    
                  }
                  ]
              }
          },
            methods: 
              {
                  addToCart(){
                    this.$emit('add-to-cart', this.variants[this.selectedVariant].variantId)
                  },
                  removeFromCart(){
                    this.$emit('remove-from-cart', this.variants[this.selectedVariant].variantId)
                  },
                  updateProduct(index){
                    this.selectedVariant = index
                  },
                  addReview(productReview){
                    this.reviews.push(productReview)
                  }
              },
            computed: 
              {
                  productTitle(){
                    return this.brand + ' ' + this.product
                  },
                  image(){
                    return this.variants[this.selectedVariant].variantImage
                  },
                  inStock(){
                    return this.variants[this.selectedVariant].variantQuantity
                  },
                  onSale(){
                    return this.variants[this.selectedVariant].sale
                  },
                  shipping(){
                    if(this.premium){
                      return "Free"
                    }
                    else{
                      return 2
                    }
                  }
              }

        })

        Vue.component('product-review', {
          template: `

            <div>
              <p v-if="errors.length">
                <b>Please correct the following errors:</b>
                <ul>
                  <li v-for="error in errors"> {{ error }} </li>
                </ul>
              </p>
              <form @submit.prevent="onSubmit">
                    <p class="form-group">
                      <label for="name"> Name: </label>
                      <input type="text" id="name" placeholder="name" v-model="name">
                    </p>

                    <p class="form-group">
                      <label for="review"> Review: </label>
                      <textarea type="text" id="review" placeholder="review" v-model="review"></textarea>
                    </p>

                    <p class="form-group">
                      <label for="rating"> Rating: </label>
                      <select id="rating" v-model.number="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </p>
                    <p> Do you recommend the product? <br>
                      <input type="radio" id="yes" v-model="recommend" value="Yes">
                      <label for="yes">Yes</label><br>
                      <input type="radio" id="no" v-model="recommend" value="No">
                      <label for="no">No</label><br>
                    </p>
                    <p class="form-group">
                      <input type="submit" value="Submit">
                    </p>
              </form>
            </div>

          `,
          data(){
            return{
              name : null,
              review : null,
              rating : null,
              recommend : null,
              errors : []
            }
          },
          methods: {
            onSubmit(){
              if(this.name && this.review && this.rating && this.recommend){
                let productReview = {
                name: this.name,
                review: this.review,
                rating: this.rating,
                recommend: this.recommend
                }
                this.$emit('review-submitted', productReview)
                this.name = null,
                this.review = null,
                this.rating = null,
                this.recommend = null
              }else{
                if(!this.name) this.errors.push("Name required.")
                if(!this.review) this.errors.push("Review required.")
                if(!this.rating) this.errors.push("Rating required.")
                if(!this.recommend) this.errors.push("Recommend required.")
              }

            }
          }
        })

        var app = new Vue({
            el: '#app',
            data: {
              premium: false,
              cart: []
            },
            methods: {
              addCart(id){
                this.cart.push(id)
              },
              removeCart(id){
                this.cart.pop(id)
              }
            }
        })
    </script>

    <!-- <div id="app">
        <input type="text" v-model="message">
        <p> {{message}} </p>
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                message: "Hello, welcome to VueJS"
            }
        })
    </script> -->
</body>
</html>
